


.table-row p.table-cell,
.table-row p.table-header {
    padding:7px;
    padding-left:13px;
    padding-right:13px;
}

.table-row p.icon-cell {

}

.icon-cell {
    text-align: center;
}

.container {
    margin: 0 0 4% 0;
}